footer {
  margin-top: 10vmax;
  /* position: fixed; */
  height:240px;
  width: 100%;
  bottom: 0;
  padding: 2vmax;
  background-color:  #232F3E;
  color: white;
  display: flex;
  align-items: center;
}

.leftFooter {
  width: 20%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.leftFooter > h4 {
  font-family: "Roboto";
  font-size: 1.5vmax;
  text-align: left;
}
.leftFooter > ul{
  list-style-type: none;
}
.leftFooter > ul > li > a{
  text-align: left;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white !important;
  line-height: 2.5em;

  
}
.leftFooter > ul > li  > a:hover{
  color: blue;
}

/* .leftFooter > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
} */

.midFooter {
  width: 60%;

  text-align: center;
}

.midFooter > h1 {
  font-size: 4vmax;
  font-family: "Abril Fatface";
  color: #FF5C4D;
}
.greeting{
  margin:0;
  font-size: medium;
  font-family: "Dancing Script";
}
.rights {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}
.footer__line{
  width: 100%;
  border-top: 0.5px solid grey;
  margin-top: 40px;
}

.rightFooter {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}
.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightFooter > a:hover {
  color: #eb4034;
}
.s-i{
  align-items: center;

}