*{
    margin: 0;
    padding: 0;
    /* font-family: "Open Sans",sans-serif; */
    
    box-sizing: border-box;
  }
  
  body{
    min-height: 100vh;
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    background-color:#f1f1f1; 
  
  }
  
  .about-section{
    background: url("../../../images/bg.jpg") no-repeat left;
    
    background-size: 60%;
    /* height : 100vh; */
    background-color: #DDFFE7;
    overflow: hidden;
    padding: 100px 0;
    /* width: 50%; */

  }
  
  .inner-container{
    width: 50%;
    float: right;
    background-color: #E6D7D5;
    padding: 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: darkblue;
  }
  
  .text{
    font-size: 15px;
    font-weight: 200;
    color: #44403F;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
    margin-right:10px;
  }
  
  .skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    margin-right:20px;
  }
  
  @media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
  }
  
  @media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
  }
  
  @media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
  }