.home__banner {
  background-image: url("../../images/bg5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

  }
  .home__banner > h1 {
    margin: 5vmax;
  
    font: 600 3vmax "Poppins";
    color: #710117;
  }
  .home__banner > p {
    font: 800 8vmax "Secular One";
    color: #DAE7DD;
  }
  .home__banner > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";

  }
  .home__banner > a > button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
 .home__heading{
  text-align:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:1.4vmax;
  border-bottom:1px solid rgba(21,21,21,0.5);
  width: 20vmax;
  padding:1vmax;
  margin: 5vmax auto;
  color:#6C6A61;

 }

 .container{
  display:flex;
  margin:2vmax auto;
  width:80vw;
  flex-wrap : wrap;
  justify-content: center;
  max-width:100%;
 }

.product__card{
  width: 20vmax;
  display:flex;
  flex-direction: column;
  text-decoration:none;
  color:black;
  margin:2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  

 }
 .product__card>img{
  width: 20vmax;
 }
 .product__card > div {
  margin:0.5vmax;
  display:flex;
  justify-content:flex-start;
  align-items: center;
 }
 .productCardSpan{
  margin:0.5vmax;

  font: 300 0.7vmax "Roboto";
 }
 .product__card>p{
  font-family: "Roboto";
  font-size: 1.4vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom : 0;
 }
 .product__card>span{
  margin: 0.5vmax ;
  color: lightcoral;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2vmax;
 }
 .product__card:hover{
  box-shadow: 0 0 5px rgba(15,15,15,0.26);
  transform: translateY(-1vmax);
 }

 @media screen and (max-width: 600px){
  .product__card >p {
    font-size:1.7vmax;
  }
  .product__card>div{
    margin:0vmax;
    display: block;
  }
  .product__card>span{
    font-size:1.5vmax;
  }
  .product__card>div>span{
    margin: 0 0.5vmax;
    font:300 1vmax "Robot";
  }

 }